<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ClientesWebDinamicaJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <!-- Mapeado para InsertarCliente.jsp -->
	<servlet>
		<servlet-name>InsertarCliente</servlet-name>
		<jsp-file>/pages/InsertarCliente.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>InsertarCliente</servlet-name>
		<url-pattern>/insertar</url-pattern>
	</servlet-mapping>
	
	
	<!-- Mapeado para ConsultarCliente.jsp?num=1 -->
	<servlet>
		<servlet-name>ConsultarCliente_consultar</servlet-name>
		<jsp-file>/pages/ConsultarCliente.jsp</jsp-file>
		<init-param>
				<param-name>num</param-name>
        <param-value>1</param-value>
    </init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ConsultarCliente_consultar</servlet-name>
		<url-pattern>/consultar</url-pattern>
	</servlet-mapping>
	
	<!-- Mapeado para ConsultarCliente.jsp?num=2 -->
	<servlet>
		<servlet-name>ConsultarCliente_borrar</servlet-name>
		<jsp-file>/pages/ConsultarCliente.jsp</jsp-file>
		<init-param>
				<param-name>num</param-name>
        <param-value>2</param-value>
    </init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ConsultarCliente_borrar</servlet-name>
		<url-pattern>/borrar</url-pattern>
	</servlet-mapping>
	
	<!-- Mapeado para ConsultarCliente.jsp?num=3 -->
	<servlet>
		<servlet-name>ConsultarCliente_modificar</servlet-name>
		<jsp-file>/pages/ConsultarCliente.jsp</jsp-file>
		<init-param>
				<param-name>num</param-name>
        <param-value>3</param-value>
    </init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ConsultarCliente_modificar</servlet-name>
		<url-pattern>/modificar</url-pattern>
	</servlet-mapping>
  
  
  <!-- Mapeado para ConsultarTodos.jsp -->
	<servlet>
		<servlet-name>ConsultarTodos</servlet-name>
		<jsp-file>/pages/ConsultarTodos.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ConsultarTodos</servlet-name>
		<url-pattern>/list-all</url-pattern>
	</servlet-mapping>
	
	<!-- ########################################################### -->
	<!-- ############ Redireccion para paginas de error ############ -->
	<!-- ########################################################### -->
	<error-page>
    <!-- Missing login -->
  	<error-code>401</error-code>
    <location>/general-error.html</location>
	</error-page>
	<error-page>
	    <!-- Forbidden directory listing -->
	    <error-code>403</error-code>
	    <location>/general-error.html</location>
	</error-page>
	<error-page>
	    <!-- Missing resource -->
	    <error-code>404</error-code>
	    <location>/Error404.html</location>
	</error-page>
	<error-page>
	    <!-- Uncaught exception -->
	    <error-code>500</error-code>
	    <location>/general-error.html</location>
	</error-page>
	<error-page>
	    <!-- Unsupported servlet method -->
	    <error-code>503</error-code>
	    <location>/general-error.html</location>
	</error-page>
	

</web-app>